h1 {
  color:red;
  font-size:40px;
  width:500px;
  height:100px;
}

p {
  font-size:10px;
}

background-color:#000000;

.header {
   height:56px
   color:FF0000;
   background-color:;
}

.main {
   width:1200px;
}

.footer { 
   height:245px;
   background-color:99CC99;
   clear:left;
}

.sidebar {
   height:650px;
   background-color:9999CC;
   width:650px;
   float:left;
}





.contents {
   height:650px;
   background-color:9966CC;
   width:800px;
   float:left;
}













